#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  border-style: solid;
  width: 750px;
  height: 750px;
}
.mainDiv{
  display: flex;
  
}
.header-left{
  flex: 1;
    
    width: 80%;
    text-align: left;
    margin-left: 30px;
    font-size: 25px;
    margin-top: 50px;
}
.divContainer{
  font-size: 25px;
position: relative;
float: left;
padding-left: 20px;
}
.homeBTN{
  
    font-size: 25px;
    border-style: solid;
    background-color: white;
    
    
}
.homeUL{
  padding: 0px;
  float: left;
  
  
}
.divCreate{
  border-style: solid;
  display: inline-block;
  padding-left: 10px;
  width: 275px;
}
.divList{
  display: inline-block;
  border-style: solid;
  padding-left: 10px;
  margin-left: 10px;
  text-align: center;
  width: 150px;
}
.addCoursesContainer{
  display: grid;
  float: left;
  width: 300px;
  height: auto;

}
.divAdd{
margin-top: 10px;
float: left;
position: relative;
width: 150px;
border-style: solid;
text-align: left;
}
.divNotes{
  float: left;
}
.AddNotes{
  float: left;
  font-size: 20px;
  padding-left: 30px;
}
.Course{
  float: left;
  width: 50%;
  font-size: 20px;
  
}
.CurrentNotes{
  border-style: solid;
  width: 100%;
  height: 250px;
  float: left;
  margin-left: 25px;
  position: relative;
}
.btnDiv{
  margin-top: 15px;
}
.btnS{
  width: 25%;
  float: left;
  margin-left: 25px;
  border-color: black;
}
.btnB{
  border-color: black;
  width: 25%;
  float: left;
  margin-left: 50px;
}
#CourseSelect{
  margin-top: 20px;
  width: 50%;
  height: 40%;
  padding-right: 20px;
}
.SubjectsList{
  position: relative;
  display: right;
  margin-top: 10px;
}
.addCoursesCont{
  float: left;
  width: 300px;
  height: auto;

}
